.UserInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {

    display: flex;
    align-items: center;
    gap: 20px;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    h2{
        p{
            font-size: 12px;
            font-weight: lighter;
        }
        padding-bottom: 10px;
    }

    border-bottom: 1px red solid;
  }

  .icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
}
