/* import poppins from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    /* background-image: url('../public/vite.svg'); */
    /* diamond gradient */
    background: linear-gradient(45deg, #8f3b3b, #050303);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90vw;
    height: 90vh;
    padding: 1px;
    background-color: rgba(228, 0, 0, 0.226);
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    border-radius: 12px;
    display: flex;
}